<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>{TITLE}</title>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" /> 
    <meta name="title" content="{TITLE}" />

    {CSS}
	{JS}

  </head>
  <body>
  <div style="height: 60px; background-color: #E5E5E5; text-align: right;">
      <span style="background-color: black; color: white; padding-left: 10px;">Шапка сайта</span>
  </div>